<!DOCTYPE html> 
<html>
    <head>
        <meta charset="utf-8">
        <meta name = "viewport" content="width=device-width, initial-scale=1">
        <title> Fuel Quote Form </title> <!-- webpage title  -->
    </head>
    <h1><center>FUEL QUOTE FORM</center></h1>

    <form> 

        Gallons requested* :
        <input type="number" id="Gallons" name="Gallons" required>
        <br> <br>

        Delivery Address: <br>
        <textarea readonly name="message" rows="5" cols="30">*Address from Profile*
        </textarea>
        <br><br>

        Delivery date: <br>
        <input type = "date" id= "delivery date">
        <br> <br>

        <label for="suggested price">Suggested Price/Gallon:</label>
        
        &nbsp;&nbsp;<textarea readonly name="Suggested Price" rows="1" cols="4">

        </textarea> <br> <br>

        <label for="amount due">Total Amount due:</label> <br>
        <textarea readonly id ="amount due" rows="4" cols="30">Amount due will be calculated as suggested price per gallon* gallons required when the pricing module is ready!
        
        
        </textarea>


        <br> <br> <input type="submit" value="Submit">
    </form>



    <body>
        * required fields.
        <body style="background-color:rgb(248, 199, 109)">

    </body>
</html>


